{% extends "base.html" %}

{% block content %}

<h2>Degrees</h2>

<!-- Alert for successful modification that redirects to this page -->
{% if message!=null %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<!-- Alert for error that redirects to this page -->
{% if error!=null %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}

<!-- List of degrees-->

<table class="table table-striped">
    <thead>
        <tr>
            <th>Degree</th>
            <th>Application deadline</th>
            <th>Location</th>
            <th>Extent</th>
            <th/>
            <th/>
            <th/>
        </tr>
    </thead>

    <tbody>
        {% for degree in degrees %}
        <tr>
            <td>{{degree.name}}</td>
            <td>{{degree.deadline}}</td>
            <td>{{degree.city}}</td>
            <td>{{degree.extent}} ECTS</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#preview" data-id="{{degree.id}}" data-name="{{degree.name}}"
                        data-deadline="{{degree.deadline}}" data-description="{{degree.description}}"
                        data-accepted="{{degree.accepted}}" data-acceptancerate="{{degree.acceptancerate}}"
                        data-city="{{degree.city}}" data-extent="{{degree.extent}}" data-institutions="{{degree.institutions}}">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true">
                </button></td>
            <td><a class="btn btn-warning" href="{{base_path}}/degree/{{degree.id}}/update"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></td>
            <form method="post" action="{{base_path}}/degree/{{degree.id}}/delete" style="display: inline-block;">
                <td><button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure?');"><span class="glyphicon glyphicon-trash" aria-hidden="true"></button></td>
            </form>
        </tr>
        {% endfor %}
    </tbody>

</table>

<!-- Additional functions -->
<a href="{{base_path}}/degrees/new" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add new degree</a>

<!-- Modal with additional info on degree -->
{{ include('degreemodal.html') }}

{% endblock %}