<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            abinet
            {% endblock %}
        </title>

        {% block head %}
        <!-- Bootstrap (tyylitiedosto) -->
        <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Oma tyylitiedostomme -->
        <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
        {% endblock %}</head>
    <body>
        <div class="container">
            <div>
                <h1 class="text-center"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>abinet</h1>
                <br/>
                {% if error %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {% endif %}

                <form method="post" class="form-horizontal extra-padding" role="form" action="{{base_path}}/login">
                    <div class="form-group">
                        <label for="email">email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="steven.seagal@ninja.com" value="{{email}}"/>
                    </div>
                    <div class="form-group">
                        <label for="password">password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="shuriken66"/>
                    </div>
                    <button class="btn btn-primary btn-lg center-block" type="submit">Log in</button>
                    <br/>
                    <a href="{{base_path}}/home" class="btn btn-link center-block" style="padding: 7px">Cancel</a>
                </form>
            </div>
        </div>
    </body>
</html>
