{% extends "base.html" %}

{% block content %}

<!-- Alert for error that redirects to this page -->
{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}

{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

<!-- Search fields -->

<div class="panel-group" id="panel-search-options">
  <div class="panel panel-default">
    <form class="form" id="searchForm" method="post" action="{{base_path}}/search">
      <div class="panel-heading">
        <div class="input-group">
          <input class="form-control" id="keyword" name="keyword" type="text" placeholder="e.g.'Aalto', 'Neuroscience' or 'banking'">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit">Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div>
        <br/>
        <a class="btn btn-default" data-toggle="collapse" data-parent="#panel-search-options" href="#collapseOptions">
          More options
          <span class="toggle-icon glyphicon glyphicon-plus"></span>
        </a>
      </div>
      <div id="collapseOptions" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="form-group">
            <label for="city" class="control-label">City</label>
            <input class="form-control" type="text" name="city" id="city">
          </div>
          <br/>
          <div class="form-group">
            <label for="institutions">Institution</label>
            <br/>
            {% for institution in institutions %}
            <input class="form-group" type="checkbox" name="institutions[]" value="{{institution.id}}" checked="" style="padding: 3px">{{institution.name}}
            {% endfor %}
          </div>
          <div class="form-group">
            <label for="accepted_max" class="control-label">Maximum share of applicants accepted (%)</label>
            <div class="input-group">
              <div class="input-group-addon">%</div>
              <input class="form-control" name="accepted_max" id="accepted_max" type="number" value="100" min="0" max="100">
            </div>
          </div>
          <div class="form-group">
            <label for="accepted_min" class="control-label">Minimun shade of applicants accepted (%)</label>
            <div class="input-group">
              <div class="input-group-addon">%</div>
              <input class="form-control" name="accepted_min" id="accepted_min" type="number" value="0" min="0" max="100">
            </div>
          </div>
          <div class="form-group">
            <label for="extent_max" class="control-label">Maximum extent of degree (ECTS)</label>
            <div class="input-group">
              <div class="input-group-addon">%</div>
              <input class="form-control" name="extent_max" id="extent_min" type="number" value="1000" min="0" max="1000">
            </div>
          </div>
          <div class="form-group">
            <label for="extent_min" class="control-label">Minimum extent of degree (ECTS)</label>
            <div class="input-group">
              <div class="input-group-addon">%</div>
              <input class="form-control" name="extent_min" id="extent_min" type="number" value="0" min="0" max="1000">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Search results -->

<table class="table table-striped">
    <thead>
        <tr>
            <th>Degree</th>
            <th>Application deadline</th>
            <th>Location</th>
            <th>Extent</th>
            <th/>
            <th/>
        </tr>
    </thead>

    <tbody>
        {% for degree in degrees %}
        <tr>
            <td>{{degree.name}}</td>
            <td>{{degree.deadline}}</td>
            <td>{{degree.city}}</td>
            <td>{{degree.extent}} ECTS</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#preview" data-id="{{degree.id}}" data-name="{{degree.name}}"
                        data-deadline="{{degree.deadline}}" data-description="{{degree.description}}"
                        data-accepted="{{degree.accepted}}" data-acceptancerate="{{degree.acceptancerate}}"
                        data-city="{{degree.city}}" data-extent="{{degree.extent}}" data-institutions="{{degree.institutions}}">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true">
                </button></td>
                {% if degree.id in favorites %}
                <form method="post" action="{{base_path}}/favorite/{{degree.id}}/remove" style="display: inline-block;">
                <td><button class="btn btn-warning" type="submit">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Favorite</button></td>
                </form>
                {% else %}
                <form method="post" action="{{base_path}}/favorite/{{degree.id}}/new" style="display: inline-block;">
                <td><button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Add to favorites</button></td>
                </form>
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>

</table>

<!-- Modal with additional info on degree -->
{{ include('degreemodal.html') }}

<script type="text/javascript">
  $(document).ready(function () {
    $('a[data-toggle="collapse"]').click(function () {
      $(this).find('span.toggle-icon').toggleClass('glyphicon-plus glyphicon-minus');
    })
  })
</script>

{% endblock %}